body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #282828;
    font-family: 'Poppins', sans-serif;
}

a {
    outline: none !important;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:hover,
a:focus,
select:focus,
button:focus,
.btn:focus,
btn.focus {
    outline: none;
    text-decoration: none;
    box-shadow: none;
    color: #147190;
}

* {
    margin: 0;
    padding: 0;
}

a:hover {
    color: #4e88e6;
}

img {
    border: none;
    vertical-align: middle;
    max-width: 100%;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    outline: none !important;
}

h3 {
    font-size: 21px;
    color: #3c3c3c;
    font-weight: 400;
}

input,
select,
textarea,
button {
    outline: none !important;
}

.container {
    width: 96%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}


/************* Sign Up Sec ***************/

.signup_sec {
    width: 100%;
    float: left;
    padding: 140px 0;
    margin: 0;
    /* background: #eeeeee; */
}

.signup_sec .container {
    max-width: 1050px;
}

.signup_inn {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    background: #f7f7f7;
}


/********* Left **********/

.signup_left {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    background: #fff;
}

.creat_info {
    width: 100%;
    float: left;
    padding: 42px 35px;
    margin: 0;
    background: #171940;
}

.signup_left .creat_info h2 {
    color: #fefeff;
}

.signup_left .creat_info p {
    color: #ffffff;
    margin: 0;
}

.signup_left h2 {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 24px;
    color: #242424;
    font-weight: 600;
}

.signup_left p {
    padding: 0;
    margin: 0 0 24px 0;
    font-size: 13px;
    color: #252525;
    font-weight: 400;
}

.signup_left p a {
    color: #30abee;
}

.signup_left p a:hover {
    color: #30abee;
    text-decoration: underline;
}

.social_signin {
    width: 100%;
    float: left;
    padding: 40px 35px 30px 35px;
    margin: 0;
}

ul.signin_listing {
    width: 100%;
    max-width: 235px;
    margin: 0 auto;
    display: block;
}

ul.signin_listing li {
    width: 100%;
    padding: 0;
    margin: 0 0 11px 0;
}

ul.signin_listing li a {
    width: 100%;
    min-height: 38px;
    padding: 8px 15px 0 40px;
    margin: 0;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    display: block;
    background: #49629b;
    position: relative;
}

ul.signin_listing li a i {
    min-width: 28px;
    text-align: center;
    font-size: 25px;
    position: absolute;
    left: 5px;
    top: 6px;
}

ul.signin_listing li a.red {
    background: #dc4b38;
}

ul.signin_listing li a.black {
    background: #242424;
}

ul.signin_listing li a.blue {
    background: #0e76a9;
}

ul.signin_listing li a.yellow {
    background: #ef8a08;
}

ul.signin_listing li a:hover {
    opacity: 0.8;
}


/********* Right **********/

.signup_form {
    width: 100%;
    float: left;
    padding: 40px 33px 35px 33px;
    margin: 0;
}

.signup_logo {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0 0 80px 0;
    text-align: center;
}

.signup_form .row {
    margin-right: -5px;
    margin-left: -5px;
}

.signup_form [class^="col-"],
.signup_form>[class*=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.signup_form .form-group {
    margin: 0 0 18px 0;
}

.signup_form .form-control {
    padding: 0 6px;
    height: 27px;
    font-size: 13px;
    color: #575757;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0;
    box-shadow: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.signup_form .form-control:focus {
    border-color: #038ec7;
}

.check_info {
    margin-bottom: 20px;
}

.check_info .custom-control {
    padding: 0 0 0 32px;
}

.check_info .custom-control-label {
    padding-top: 3px;
    font-size: 13px;
    color: #575757;
}

.check_info .custom-control-label::after,
.check_info .custom-control-label::before {
    width: 22px;
    height: 22px;
    border: 2px solid #048fc8;
    left: -32px;
    top: 2px;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.check_info .custom-control-input:checked~.custom-control-label::before {
    border-color: #35ab45;
    background: none;
}

.signup_btn {
    width: 100%;
    max-width: 225px;
    padding: 10px 20px;
    margin: 0;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-align: center;
    border: none;
    background: #038ec7;
}

.signup_btn:hover {
    background: #222;
    color: #fff;
}

.signup_btn:focus {
    color: #fff;
}

.centerdiv {
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    margin-top: 0%;
    position: absolute;
    bottom: 400px;
    left: 900px;
    z-index: 9999;
    right: 0;
    margin: 0 auto;
}

.centerdiv .list {
    display: flex;
}

.sigin_sec:before {
    background: rgb(0 0 0 / 50%);
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    z-index: 9999;
    display: none;
}

.load {
    list-style: none;
    height: 20px;
    width: 20px;
    background-color: red;
    margin: 0 4px;
    border-radius: 50%;
    animation: bounce 1s linear infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

.list .load:nth-child(1) {
    animation-delay: 0.2s;
    background-color: #7C33F3;
}

.list .load:nth-child(2) {
    animation-delay: 0.6s;
    background-color: #F700BA;
}

.list .load:nth-child(3) {
    animation-delay: 0.1s;
    background-color: #FF287F;
}

.list .load:nth-child(4) {
    animation-delay: 0.8s;
    background-color: #FF8152;
}

.list .load:nth-child(5) {
    animation-delay: 0.5s;
    background-color: #FFC246;
}

.list .load:nth-child(6) {
    animation-delay: 0.1s;
    background-color: #F9F871;
}