{% extends 'auth_base.html' %} {% load static %} {% load i18n %} {% load crispy_forms_tags %} {% block title %}IdeaDC | Login Cancelled{% endblock %} {% block content %}


<div class="container" style="margin-top: 20%;margin-left: 20%;">
<h1>Login Cancelled"</h1>

{% url 'account_login' as login_url %}

<p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>
</div>
{% endblock %}