{% extends 'auth_base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %} 
{% load socialaccount %} 
{% block title %}IdeaDC | Password Reset{% endblock %}

{% block content %}
{% providers_media_js %}
<link href="{% static 'css/login_signup_verify_css/resetpassword.css' %}" rel="stylesheet" />

<div class="loading">Loading&#8230;</div>
{% static_placeholder 'Password Reset Confirm' %}
<div class="reset_sec">
    {% comment %} <div class="container">
        <div class="reset_inn">
            <div class="row no-gutters">
                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-10">
                    <div class="borderbox">
                        <div class="reset_form">
                            <div class="clearfix"></div>
                            <form method="POST" id="confirm_forgot_password" class="reset_form">
                                <h1 style="text-align: center;">
                                    Create New Password
                                </h1>
                                <div class="reset_sec">
                                    <div class="form-group">
                                        <input type="password" name="new_password1" id="id_new_password1" maxlength="20" class="form-control" placeholder="New Password" required />
                                        <i class="fa fa-fw fa-eye field-icon passeye" id="togglePassword1"></i>
                                        <div id="message">
                                            <h3 class="psdmessage">
                                                Password must contain the following:
                                            </h3>
                                            <p id="letter" style="margin: 0 0 0 0" class="invalid">
                                                A lowercase letter
                                            </p>
                                            <p id="capital" style="margin: 0 0 0 0" class="invalid">
                                                A capital (uppercase) letter
                                            </p>
                                            <p id="number" style="margin: 0 0 0 0" class="invalid">
                                                A number
                                            </p>
                                            <p id="length" style="margin: 0 0 0 0" class="invalid">
                                                Minimum 8 characters
                                            </p>
                                            <p id="specialchar" style="margin: 0 0 0 0" class="invalid">
                                                A Special Character
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="id_new_password2" name="new_password2" class="form-control" placeholder="Password Confirm" maxlength="20" onkeyup="validatePassword();" required />
                                        <i class="fa fa-fw fa-eye field-icon passeye" id="togglePassword2"></i>
                                        <span id="divCheckPassword"></span>
                                    </div>
                                    <br />
                                    <div class="btn-block text-center">
                                        <button class="reset_btn" type="submit">
                    Reset Password
                  </button>
                                    </div>
                                    <br />
                                    <div class="btn-block text-center">
                                        <a role="button" href="{% url 'login' %}" class="reset_btn">
                    Return to Login</a
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div> {% endcomment %}
</div>

{% autoescape off %}
  {% addtoblock "js" %}
    <script>


        var myInput = document.getElementById("id_new_password1");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");
        var specialchar = document.getElementById("specialchar"); //Get P tag for special character

        // When the user clicks on the password field, show the message box
        myInput.onfocus = function() {
          document.getElementById("message").style.display = "block";
        }

        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function() {
          document.getElementById("message").style.display = "none";
        }

        // When the user starts to type something inside the password field
        myInput.onkeyup = function() {
          // Validate lowercase letters
          validatePassword()
          var lowerCaseLetters = /[a-z]/g;
          if(myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");

          } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");

          }

          // Validate capital letters
          var upperCaseLetters = /[A-Z]/g;
          if(myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");

          } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");

          }

          // Validate numbers
          var numbers = /[0-9]/g;
          if(myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");

          } else {
            number.classList.remove("valid");
            number.classList.add("invalid");

          }

          // Validate length
          if(myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");

          } else {
            length.classList.remove("valid");
            length.classList.add("invalid");

          }
            // Special Character length
          var special_character = /[$&+,:;=?@#|'<>.^*()%!-]/g;
          if(myInput.value.match(special_character)) {
            specialchar.classList.remove("invalid");
            specialchar.classList.add("valid");
          } else {
            specialchar.classList.remove("valid");
            specialchar.classList.add("invalid");
          }
        }

      //Confirm Password Check
        var password1 = document.getElementById('id_new_password1');
        var confirm_password = document.getElementById('id_new_password2');
        function validatePassword() {
            if ((confirm_password.value!='')&&(password1.value != confirm_password.value)) {
                $("#divCheckPassword").html("Passwords do not match!");
                  color = "red";
                  divCheckPassword.style.color = color;
            } else {
              if(password1.value == confirm_password.value){
                $("#divCheckPassword").html("Passwords match.");
                      color = "green"
                      divCheckPassword.style.color = color
              }
            }
            if(confirm_password.value == ""){
              var lblError = document.getElementById("divCheckPassword");
              lblError.innerHTML = "";
            }
        }
        password1.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;


          const togglePassword = document.querySelector("#togglePassword1");
          const password = document.querySelector("#id_new_password1");
          togglePassword.addEventListener("click", function (e) {
            // toggle the type attribute
            const type =
              password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            // toggle the eye slash icon
            this.classList.toggle("fa-eye-slash");
          });

          const togglePassword2 = document.querySelector("#togglePassword2") || "";
       const password2 = document.querySelector("#id_new_password2") || "";
       togglePassword2.addEventListener("click", function (e) {
          // toggle the type attribute
          const type =
            password2.getAttribute("type") === "password" ? "text" : "password";
          password2.setAttribute("type", type);
          // toggle the eye slash icon
          this.classList.toggle("fa-eye-slash");
      });

      
        const URL = "{{ URL }}"; //Get Constant URL
        const getCurrent_url=window.location.href

        //Submit Confirm Forgot Password Form
        $("#confirm_forgot_password").on("submit", function (e) {
            e.preventDefault();
            data = {
              password1: $("#id_new_password1").val(),
              password2: $("#id_new_password2").val(),
            };
            if (data) {
              $(".loading").show();
              $.ajax({
                type: "POST",
                url: getCurrent_url,
                data: data,
                success: function (data) {
                    $(".loading").hide();
                  Swal.fire({
                          title:  data.success,
                          icon: 'success',
                          confirmButtonColor: '#3085d6',
                        }).then((result) => {
                            window.location =`${URL}/user/login`;
                    })
                },
                error: function (err) {
                  $(".loading").hide();
                  if(err["responseJSON"]["error"] == "Password reset Link Expired."){
                    Swal.fire({
                    title: err["responseJSON"]["error"],
                    icon: "error",
                    confirmButtonColor: "#3085d6",
                  }).then((result) => {
                    window.location=`${URL}/user/reset`
                  });
                  }else{
                  $(".loading").hide();
                  Swal.fire({
                    title: err["responseJSON"]["error"],
                    icon: "error",
                    confirmButtonColor: "#3085d6",
                  }).then((result) => {
                  });
                  }
                },
              });
              }
        });
    </script>
  {% endaddtoblock 'js' %}
{% endautoescape %}


{% endblock content %}