 {% extends 'auth_base.html' %} {% load cms_tags menu_tags sekizai_tags %} {% load static %} {% load socialaccount %} {% block title %}IdeaDC | Password Change{% endblock %} {% block content %}

<link href="{% static 'css/login_signup_verify_css/change_password.css' %}" rel="stylesheet" />

<div class="loading">Loading&#8230;</div>

{% static_placeholder 'Password Change Page' %}

{% comment %} <div class="passwordchange_sec">
    <div class="container">
        <div class="passwordchange_inn">
            <div class="row no-gutters">
                <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12">
                    <div class="borderbox">
                        <div class="passwordchange_form">
                            <div class="clearfix"></div>
                            <form method="post" class="passwordchange_form" id="change_password">
                                <h1 style="text-align: center;">
                                    Change Your Password
                                </h1>
                                {% csrf_token %}
                                <div class="passwordchange_sec">
                                  
                                    <div class="form-group">
                                        <input type="password" name="oldpassword" id="id_new_password1" class="form-control" maxlength="20" placeholder="Current Password*" required />
                                       <i
                                        class="fa fa-fw fa-eye field-icon passeye"
                                        id="toggleoldpassword"
                                        ></i>
                                    </div>

                                  
                                    <div class="form-group">
                                        <input type="password" name="password1" id="new_password1" class="form-control" maxlength="20" placeholder="New Password*" required />
                                         <i
                                            class="fa fa-fw fa-eye field-icon passeye"
                                            id="togglePassword1"
                                            ></i>
                                        <div id="message">
                                            <h3 class="psdmessage">
                                                Password must contain the following:
                                            </h3>
                                            <p id="letter" style="margin: 0 0 0 0" class="invalid">
                                                A lowercase letter
                                            </p>
                                            <p id="capital" style="margin: 0 0 0 0" class="invalid">
                                                A capital (uppercase) letter
                                            </p>
                                            <p id="number" style="margin: 0 0 0 0" class="invalid">
                                                A number
                                            </p>
                                            <p id="length" style="margin: 0 0 0 0" class="invalid">
                                                Minimum 8 characters
                                            </p>
                                            <p id="specialchar" style="margin: 0 0 0 0" class="invalid">
                                                A Special Character
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" onkeyup="validatePassword()" id="new_password2" name="password2" class="form-control" maxlength="20" placeholder="New Password (again)*" required />
                                         <i
                                            class="fa fa-fw fa-eye field-icon passeye"
                                            id="togglePassword2"
                                            ></i>
                                        <span id="divCheckPassword"></span>
                                    </div>
                                    <br />
                                    <div class="btn-block text-center">
                                        <button class="passwordchange_btn" type="submit">
                      Set New Password
                    </button>
                                    </div>
                                    <br />
                                    <div class="btn-block text-center">
                                        <a role="button" href="{% url 'home' %}" class="passwordchange_btn">
                      Return to Home</a
                    >
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% autoescape off %} {% addtoblock "js" %}
<script>
    var myInput = document.getElementById("new_password1"); //Get Password1
    var letter = document.getElementById("letter"); //Get P tag Letter 
    var capital = document.getElementById("capital"); //Get P tag Captal
    var number = document.getElementById("number"); //Get P tag number
    var length = document.getElementById("length"); //Get P tag length
    var specialchar = document.getElementById("specialchar"); //Get P tag for special character

    // When the user clicks on the password field, show the message box
    myInput.onfocus = function() {
        document.getElementById("message").style.display = "block";
    }

    // When the user clicks outside of the password field, hide the message box
    myInput.onblur = function() {
        document.getElementById("message").style.display = "none";
    }

    // When the user starts to type something inside the password field
    myInput.onkeyup = function() {
        // Validate lowercase letters
        validatePassword()
        var lowerCaseLetters = /[a-z]/g;
        if (myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");

        } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }

        // Validate capital letters
        var upperCaseLetters = /[A-Z]/g;
        if (myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
        } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
        }

        // Validate numbers
        var numbers = /[0-9]/g;
        if (myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
        } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
        }

        // Validate length
        if (myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
        } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
        }
        // Special Character length
        var special_character = /[$&+,:;=?@#|'<>.^*()%!-]/g;
        if (myInput.value.match(special_character)) {
            specialchar.classList.remove("invalid");
            specialchar.classList.add("valid");
        } else {
            specialchar.classList.remove("valid");
            specialchar.classList.add("invalid");
        }
    }

    //Confirm Password Check
    var password1 = document.getElementById('new_password1');
    var confirm_password = document.getElementById('new_password2');

    function validatePassword() {
        if ((confirm_password.value != '') && (password1.value != confirm_password.value)) {
            $("#divCheckPassword").html("Passwords do not match!");
            color = "red";
            divCheckPassword.style.color = color;
        } else {
            if (password1.value == confirm_password.value) {
                $("#divCheckPassword").html("Passwords match.");
                color = "green"
                divCheckPassword.style.color = color
            }
        }
        if (confirm_password.value == "") {
            var lblError = document.getElementById("divCheckPassword");
            lblError.innerHTML = "";
        }
    }
    password1.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;

     const toggleOldPassword = document.querySelector("#toggleoldpassword");
        const passwordold = document.querySelector("#id_new_password1");
        toggleOldPassword.addEventListener("click", function (e) {
          // toggle the type attribute
          const type =
            passwordold.getAttribute("type") === "password" ? "text" : "password";
          passwordold.setAttribute("type", type);
          // toggle the eye slash icon
          this.classList.toggle("fa-eye-slash");
      });

       const togglePassword1 = document.querySelector("#togglePassword1") || "";
       const passwordnew = document.querySelector("#new_password1") || "";
       togglePassword1.addEventListener("click", function (e) {
          // toggle the type attribute
          const type =
            passwordnew.getAttribute("type") === "password" ? "text" : "password";
          passwordnew.setAttribute("type", type);
          // toggle the eye slash icon
          this.classList.toggle("fa-eye-slash");
      });

       const togglePassword2 = document.querySelector("#togglePassword2") || "";
       const passwordnew1 = document.querySelector("#new_password2") || "";
       togglePassword2.addEventListener("click", function (e) {
          // toggle the type attribute
          const type =
            passwordnew1.getAttribute("type") === "password" ? "text" : "password";
          passwordnew1.setAttribute("type", type);
          // toggle the eye slash icon
          this.classList.toggle("fa-eye-slash");
      });

    const URL = "{{ URL }}" //Get Constant URL

    //Submit Change Password Form
    $("#change_password").on("submit", function(e) {
        e.preventDefault();
        data = {
            "old_password": $("#id_new_password1").val(),
            "new_password": $("#new_password1").val(),
            "confirm_password": $("#new_password2").val(),
        };
        if (data) {
            $(".loading").show();
            //Calling AJax Request
            $.ajax({
                type: "POST",
                url: `${URL}/user/password_change`,
                data: data,
                success: function(data) {
                    $(".loading").hide();
                    Swal.fire({
                        title: "Your password was successfully updated!",
                        icon: 'success',
                        confirmButtonColor: '#3085d6',
                    }).then((result) => {
                        window.location = `${URL}`
                    })
                },
                error: function(err) {
                    $(".loading").hide();
                    if (err["responseJSON"]["error"] == "Old Password and new password cannot be same") {
                        Swal.fire({
                            title: err["responseJSON"]["error"],
                            icon: 'warning',
                            confirmButtonColor: '#3085d6',
                        }).then((result) => {})
                    } else {
                        $(".loading").hide();
                        Swal.fire({
                            title: err["responseJSON"]["error"],
                            icon: 'error',
                            confirmButtonColor: '#3085d6',
                        }).then((result) => {})
                    }
                },
            });
        }
    });
</script>
{% endaddtoblock 'js' %} {% endautoescape %} {% endblock content %}