{% extends 'auth_base.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static %} 
{% load socialaccount %} 
{% block title %}IdeaDC | Password Reset {% endblock %}

{% block content %}
<link href="{% static 'css/login_signup_verify_css/reset_password_email.css' %}" rel="stylesheet" />

<div class="loading">Loading&#8230;</div>

{% static_placeholder 'Password Reset' %}
{% comment %} <div class="container">
    <div class="reset_screen">
        <div class="col-md-4 col-md-offset-4">
            <form method="POST" id="forgot_form" class="fh5co-form animate-box" data-animate-effect="fadeIn">
                <h2>Forgot Password</h2>
                <p>
                    Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
                </p>
                {% if form.errors %}
                <div class="form-group">
                    <div class="alert alert-danger" role="alert">
                        There is no user registered with the specified E-Mail address.
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <input type="email" onkeyup="ValidateEmail();" name="email" class="form-control" id="id_email" placeholder="Enter your registered email address" autocomplete="off" required />
                    <span id="lblErroremail" style="color: red; font-size: 10px"></span>
                </div>
                <div class="form-group" style="margin-left: 35%">
                    <p>
                        <a href="{% url 'login' %}">Sign In</a> or
                        <a href="{% url 'signup' %}">Sign Up</a>
                    </p>
                </div>
                <div class="form-group" style="margin-left: 35%" ;>
                    <input type="submit" value="Send Email" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>>
</div> {% endcomment %}

{% autoescape off %}
  {% addtoblock "js" %}
    <script>
        const URL = "{{ URL }}"; //Get Constant URL
        function ValidateEmail() {
            var email = document.getElementById("id_email").value;
            var lblError = document.getElementById("lblErroremail") || "";
            lblError.innerHTML = "";
            var expr = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                lblError.innerHTML = "Invalid email address.";
                return false;
            } else {
                return expr.test(email)
            }
            if (email.length == 0) {
                lblError.innerHTML = ""
            }
        }



        $("#forgot_form").on("submit", function(e) {
            e.preventDefault();
            data = {
                email: $("#id_email").val(),
            };
            if (data) {
                $(".loading").show();
                if (ValidateEmail()) {
                    $.ajax({
                        type: "POST",
                        url: `${URL}/user/reset`,
                        data: data,
                        success: function(data) {
                            $(".loading").hide();
                            Swal.fire({
                                title: data.success,
                                icon: "success",
                                confirmButtonColor: "#3085d6",
                            }).then((result) => {
                                window.location = `${URL}/user/login`;
                            });
                        },
                        error: function(err) {
                            $(".loading").hide();
                            Swal.fire({
                                title: err["responseJSON"]["error"],
                                icon: "error",
                                confirmButtonColor: "#3085d6",
                            }).then((result) => {});
                        },
                    });
                } else {
                    $(".loading").hide();
                    Swal.fire({
                        icon: "error",
                        title: "Please enter valid e-mail address",
                    });
                }
            }
        });
    </script>
{% endaddtoblock 'js' %}
{% endautoescape %}

{% endblock %}